{% extends 'base.html' %}

{% block content %}
<style>
    .centered-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
      width: 50%;
      padding: 20px;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      
    }
    label {
      font-weight: bold;
      display: block;
      margin-bottom: 8px;
    }

    input[type="text"],
    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
    }

    select {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
    }

    button[type="submit"] {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
    @media screen and (max-width: 600px) {
  .centered-form {
    width: 80%;
    padding: 10px;
  }
}
    button[type="submit"]:hover {
      background-color: #0056b3;
    }
    </style>
        <div class="centered-form">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <h2>Submit Service Request</h2>
              {{ form.as_p }}
              <button type="submit">Submit Request</button>
            </form>
          </div>
 
{% endblock %}
